{% load static %}

<div class="main-banner header-text">
    <div class="container-fluid">
        <div class="owl-banner owl-carousel">
            {% for article in articles %}
                <div class="item">
                    <img src="{{ article.image.url }}" alt=""/>
                    <div class="item-content">
                        <div class="main-content">
                            <div class="meta-category">
                                <span>{{ article.title }}</span>
                            </div>
                            <a href="post-details.html"
                            ><h4>{{ article.description }}</h4></a
                            >
                            <ul class="post-info">
                                <li><a href="#">{{ article.author }}</a></li>
                                <li><a href="#">{{ article.date }}</a></li>
                                <li><a href="#">12 Comments</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>